extends ../layouts/common.pug
block content

  if error
    each item in error
      div.alert.alert-warning= item 
  if tooLength
    div.alert.alert-warning= tooLength
  div
    form(action="/users/post" method="POST" enctype="multipart/form-data")
      div
        div.mb-3
          p.mb-1 Name:
          input.form-control(type="text" name="name" value = value ? value.name : "")
        div.mb-3
          p.mb-1 Số điện thoại
          input.form-control(type="number" name="phone" value = value ? value.phone : "")
        div.mb-3
          p.mb-1 Email
          input.form-control(type="email" name="email" value = value ? value.email : "")
        div.mb-3
          p.mb-1 Password
          input.form-control(type="text" name="password" value = value ? value.password : "")
        div.mb-3
          p.mb-1 Avatar
          input.form-control-file(type="file" name="avatar")
      div(style="margin-top: 16px")
        button.btn.btn-info Thêm